

.img-you{
    height: 40px;
    width: 110px;
object-fit: fit;

}

.flex-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 6px;
    border-bottom: .3px solid rgb(194, 191, 191);
    position: fixed;
    top: 0px;
    background-color: white;

   
}

.nav-left{
    font-size: 20px;
    margin: 14px 12px;
    display: flex;
}

.left{
    display: flex;
}

.middle-box{
    height: 30px;
    width: 30vw;
    /* border-top-left-radius:10px ;
    border-bottom-left-radius:10px ; */
    
    
}

.middle-bo{
    height: 35px;
    width: 50px;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    border: 10px;
   
}

.middle{
   
    width: 40vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid rgb(104, 102, 102);
    height: 40px;
    margin-top: 5px;
    margin-left: 4px;
    margin-right: 4px;
}

.middle input{
    border: none;
    outline: none;
   width: 85%;
   height: 70%;
   font-size: 15px;
   padding-left: 7px;
}

.search{
    height: 100%;
    border-left:.5px solid rgb(104, 102, 102);
    display: flex;   
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 3%;
    padding-right: 3%;
    
    
}


.create{
    display: flex;
    align-items: center;
    border: .5px solid black;
    height:35px ;
    margin-top: 7px;
    border-radius: 20px;
    width: 7vw;
    background-color: rgb(230, 230, 230);
    justify-content: center;
    padding-right: 8px;
}


.right{
display: flex;
align-items: center;
gap: 15px;

}

.right .bell{
    background-color:rgb(230, 230, 230) ;
    height: 35px;
    margin-top: 7px;
    display: flex;
    align-items: center;
    width: 35px;
    border-radius: 50px;
    justify-content: center;
}


.right .user{
    background-color:rgb(230, 230, 230) ;
    height: 35px;
    margin-top: 7px;
    display: flex;
    align-items: center;
    width: 35px;
    border-radius: 50px;
    justify-content: center;
    font-size: 50px;
}


@media (max-width:600px) {
    .create{
        display: none;

    }

    .img-you{
        margin-top: 5px;
        height: 30px;
        width: 70px;
    object-fit: fit;
    
    }

    .middle input{
        border: none;
        outline: none;
       width: 85%;
       height: 40%;
       font-size: 15px;
    }
    .middle{
        height: 30px;
        margin-top: 7px;
    }
    

    .right .bell{
        background-color:rgb(230, 230, 230) ;
        height: 25px;
        margin-top:0px;
        display: flex;
        align-items: center;
        width: 25px;
        border-radius: 50px;
        justify-content: center;
    }

    .right .user{
        background-color:rgb(230, 230, 230) ;
        height: 30px;
        margin-top: 0px;
        display: flex;
        align-items: center;
        width: 30px;
        border-radius: 50px;
        justify-content: center;
        font-size: 50px;
    }

    .flex-div{
        display:flex;
        width: 100vw;
        margin-top: 0px;
    
    }

    .right{
        gap: 4px;
        padding-right: 2px;
    }

    .left{
        gap: -5px;
    }
}